// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyArWXvyTSktYIaAyaMdeA9EqxNEncCO-H8",
  authDomain: "bolao-brasil-noruega-1f4e8.firebaseapp.com",
  projectId: "bolao-brasil-noruega-1f4e8",
  storageBucket: "bolao-brasil-noruega-1f4e8.firebasestorage.app",
  messagingSenderId: "206598546833",
  appId: "1:206598546833:web:a64cb2fe1456b5f10b6630",
  measurementId: "G-TZZ1MJC66K"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);
